# This file is part of the Zentelio Documentation project.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# A copy of the License is included with this project. You may also obtain
# a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Additional licenses for third-party dependencies are also included
# and must be reviewed separately.

# Attributes for linguistic detection
# Language Reference: https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
*.md   linguist-detectable=true   linguist-language=Markdown

# Automatically detect the end of lines if the type is not defined
* text=auto

# Custom definitions
*.webp   binary
*.ico    binary